* {
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('./Images/red-sparkles-background.jpg');
    background-color: black;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}
::-webkit-scrollbar {
    background-color: black;
    width: 9px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(227,38,54,0.9);
}
::-webkit-scrollbar-thumb:hover {
    background-color: #f01d2e;
}
::-webkit-scrollbar-thumb:active {
    background-color: #f73a4a;
}
h1, h2 {
    font-family:"Proza Libre";
    color:#f73a4a;
}
h2 {
    font-size: 1.6em;
}
p{
    font-size: 1.15em;
    line-height: 1.25em;
}

header {
    width: 100%;
    display: flex;
    position:fixed;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0.01,0.01,0.02, 0.9);
    border-bottom: 1px solid #f73a4a;
    border-top: 1px solid #f73a4a;
    border-radius: 10px;
}
header h1{
    font-size: 1.9em;
    margin: 0;
    transition: color 0.2s ease-in-out;
}
header h1:hover{
    color:#f01d2e;
}
header ul {
    display: inline-flex;
    justify-content: space-between;
}
header li {
    display: inline-block;
    font-size: 1.1em;
    padding-right: 15px;
    color:#f73a4a;
}
header a {
    color:white;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
header a:hover {
    color:#f73a4a;
}

#About-Me {
    width: 100%;
    padding-top: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 45px;
}
#About-Me-Text {
    width: 700px;
    margin-left: 40px;
    background-color: rgba(0.01,0.01,0.02, 0.25);
    border: 5px solid #080808;
    padding-left: 5px;
}
#About-Me-Text h2 {
}
#About-Me-Image {
    height: 400px;
    width: 250px;
    overflow: hidden;
    margin-right: 60px;
    padding-top: 50px;
}
#About-Me-Image img {
    max-width: 100%;
    height: auto;
    border: 1px solid black;
}

#My-Replicas {
    margin-bottom: 80px;
}
#My-Replicas h2 {
    margin-left: 10px;
}
#My-Replicas p {
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
#My-Replicas ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    width: 95%;
    padding: 0;
    
    background-color: rgba(0.01,0.01,0.02, 0.5);
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px
}
#My-Replicas li {
    list-style: none;
    height: 216px;
    margin-top: 45px;
    margin-bottom: 45px;
}
#My-Replicas a {
    font-size: 1.1em;
    text-align: center;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #e8d3d3;
    transition: color 0.2s ease-in-out;
}
#My-Replicas a:hover {
    color: #f73a4a;
}
.My-Replicas-Images {
    height: 85%;
    width: 375px;
    overflow: hidden;
    margin-top: 15px;
    transition: all .2s ease-in-out;
}
.My-Replicas-Images:hover {
    width: 450px;
    height: 101%;
}
#My-Replicas img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

#My-Skills{
text-align: center;
padding: 0;
}
#My-Skills p {
    margin-bottom: 50px;
}
#My-Skills ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
}
#My-Skills li {
    display: inline-block;
    font-size: 1.05em;
    margin-bottom: 20px;
}
#My-Skills .fa-brands {
    font-size: 3em;
    transition: all 1s ease-in-out;
    color:white;
    text-shadow: 1px 1px 40px red;
    background-color: transparent;
}
#My-Skills .fa-brands:hover {
    cursor: pointer;
    text-shadow: 1px 2px 0px red;
}

@media screen and (max-width: 599px) {
    header h1 {
        display: none;
    }
    header ul {
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 1007px){
    #About-Me {
        flex-wrap: wrap;
    }
    #About-Me-Image {
        height: 350px;
        width: 200px;
    }
}
@media screen and (max-width: 822px) {
    #My-Skills ul {
        flex-direction: column;
        align-items: center;
    }
    #My-Skills li {
        width: 75%;
        border-radius: 0;
    }
}