* {
    box-sizing: border-box;
}
body {
    background-color: black;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}
h1, h2 {
    font-family:"Proza Libre";
    color:#f73a4a;
}

header {
    width: 100%;
    display: flex;
    position:fixed;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    border-bottom: 1px solid #f73a4a;
    border-top: 1px solid #f73a4a;
    border-radius: 10px;
}
header h1{
    font-size: 1.9em;
    margin: 0;
}
header h1:hover{
    color:#f01d2e;
}
header ul {
    display: inline-flex;
    justify-content: space-between;
}
header li {
    display: inline-block;
    font-size: 1.1em;
    padding-right: 15px;
    color:#f73a4a
}
header li:hover {
    text-decoration: underline;
}
header a {
    color:white;
    text-decoration: none;
}

#About-Me {
    width: 100%;
    padding-top: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#About-Me-Text {
    width: 700px;
}
#About-Me-Text h2 {
}
#About-Me-Image {
    height: 400px;
    width: 250px;
    overflow: hidden;
    margin: 20px;
    padding-top: 50px;
}
#About-Me-Image img {
    max-width: 100%;
    height: auto;
    border: 1px solid white;
    border-radius: 200px;
}

#My-Replicas {
   
}
#My-Replicas p {
    margin-bottom: 50px;
}
#My-Replicas li {
    margin-bottom: 100px;
}
#My-Replicas a {
    margin-left: 20px;
    text-decoration: none;
    color: #f73a4a;
}
.My-Replicas-Images {
    height: 625px;
    width: 90%;
    overflow: hidden;
    margin-top: 15px;
}
#My-Replicas img {
    max-width: 100%;
    height: auto;
}

#My-Skills{
text-align: center;
padding: 0;
}
#My-Skills ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
}
#My-Skills li {
    display: inline-block;
    border: 1px solid #f73a4a;
    border-radius: 10px;
    width: 16.67%;
    
}