* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: Nunito;
	margin-top: 9.3em;
}
.header1 {
	position: fixed;
	top: 0;
	z-index: 2;
	display: grid;
	width: 100%;
	height: 6.1em;
	grid-template: repeat(100, 1%) / repeat(100, 1%);
	padding: 0.9em 1em;
	margin: 0;
	background-color: #2f5e80;
}
.header1 img {
	display: inline-block;
	width: 300px;
	height: 55px;
}
#logo {
	grid-column: 4 / span 10;
	grid-row: 13 / span 10;
}
.header1 ul {
	display: inline;
	margin-top: 0;
	grid-column: 42 / span 57;
	float: top;
}
.header1 li {
	display: inline-block;
	font-size: 0.85em;
}
.header1 li + li::before {
	content: "|";
	color: white;
	margin: 0.7em;
}
.header1 a {
	color: white;
}
.header1 a:hover {
	color: #5DA121;
}
.header1 input{
	border: 0.1em solid #5F8585;
	border-radius: 0.25em;
	width: 92%;
	height: 2.6em;
	padding: 0.5em 0.9em;
	background-color: white;
	color: gray;
	font-size: 0.85em;
	grid-area: 50 / 80 / 100 / 100;
}
.header1 input:focus {
	box-shadow: 0.1em 0.1em 1em -0.25em #BCFF05;
	outline: none;
	border: 1px solid #BCFF05;
}
#search {
	grid-area: 61 / 96 / 100 / 100;
	color: #425c5c;
	position: relative;
	right: 5px;
}
.header2 {
	position: fixed;
	top: 6.1em;
	z-index: 2;
	width: 100%;
	height: 3.2em;
	background-color: #F7F7F7;
	border-top: 0.1em solid #2f5e80;
	border-bottom: 0.1em solid #2f5e80;
}
#list1, #list1 a{
	display: inline-flex;
	list-style: none;
	text-decoration: none;
	color: #425c5c;
	font-weight: bold;
	font-size: 0.97em;
	margin-top: 0.5em;
	margin-bottom: 0;
}
#list1 {
	margin-left: 1em;
}
#list1 li {
	margin-right: 2.7em;
}
#list2 {
	margin-right: 3.5em;
}
#list2, #list2 a {
	display: inline-flex;
	list-style: none;
	color: #40790c;
	text-decoration: none;
	float: right;
	font-weight: bold;
	font-size: 0.97em;
	margin-bottom: 0;
}
#list2 li + li::before {
	content: "|";
	margin: 1em;
}
#list1 a:hover, #list2 a:hover {
	text-decoration: underline;
	text-decoration-color: #4d841b;
	text-decoration-thickness: 0.2em;
}
.main1 {
	display: grid;
	width: 100%;
	height: 22em;
	grid-template: repeat(1em, 22) / repeat(1%, 100);
	background-repeat: no-repeat;
	background-image: url("https://www.ncsecu.org/resources/learn/what-is-a-credit-union/_jcr_content/_cq_featuredimage.coreimg.jpeg/1714756332889/frontviewofsecubranchbuilding.jpeg");
	background-position: center;
	background-size: cover;
}
#mainlink {
	height: 8.5em;
	width: 16.9em;
	grid-column: 17 / 50;
	background-color: #2f5e80;
	border-radius: 0.7em;
	padding: 0.6em 0.6em;
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	margin-top: 1.4em;
}
#mainlink:hover {
	text-decoration: underline;
	text-decoration-color: white;
	text-decoration-thickness: 0,2em;
}
#mainlink h1, #mainlink p {
	margin: 0;
	font-weight: 400;
}
#learnmore {
	font-size: 0.7em;
}
#login {
	height: 20em;
	width: 14.5em;
	grid-area: 1 / 83 / 22 / 100;
	background-color: #F7F7F7;
	border-radius: 1em;
	margin-top: 0.45em;
}
#login h3 {
	color: #40790c;
	text-align: center;
	font-size: 1.12em;
	font-weight: 600;
	margin-bottom: 0;
}
.userpw {
	border: 0.1em solid #5F8585;
	border-radius: 0.25em;
	width: 88%;
	height: 2.5em;
	padding: 0.5em 0.9em;
	background-color: white;
	color: gray;
	margin-left: 6%;
	margin-top: 1em;
	font-size: 0.85em;
	margin-bottom: 0;
}
.userpw:focus {
	box-shadow: 0.1em 0.1em 1em -0.25em #BCFF05;
	outline: none;
	border: 1px solid #BCFF05;
}
#check {
	visibility: hidden;
}
#login div {
	display: inline-block;
	background-color: white;
	height: 1.25em;
	width: 1.25em;
	outline: none;
	border: 1px solid #5F8585;
	border-radius: 0.25em;
	margin-left: -0.3em;
	margin-top: 0.8em;
}
#check:checked + div:before {
	content:
}
#login a {
	margin-left: 1em;
	color: #425c5c;
	font-weight: 600;
	font-size: 0.9em;
}
#login a:hover {
	color: black;
}
#login button {
	color: white;
	background-color: #4d841b;
	width: 88%;
	height: 2.1em;
	margin-left: 1em;
	margin-top: 1.25em;
	margin-bottom: 0.5em;
	padding-bottom: 0.2em;
	font-size: 0.95em;
	border: 0.1em solid #5F8585;
	border-radius: 0.25em;
	font-weight: 400;
}
#login button:hover {
	background-color: #396B0B;
	text-decoration: underline;
	cursor: pointer;
}
#login button:focus {
	box-shadow: 0.1em 0.1em 1em -0.25em #E3FF00;
}
#remember {
	position: relative;
	bottom: 0.4em;
	right: 0.7em;
}
#forgotp {
	position: relative;
	left: 1.2em;
	top: 0.2em;
}
#security {
	position: relative;
	top: 0.7em;
}
.main2 {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 77.5%;
	height: 27em;
	border-bottom: 0.1em solid rgba(77,108,130, 0.3);
	margin-left: 11.25%;
}
.main2 div {
	width: 32.5%;
	height: 85%;
	text-align: center;
	margin-right: 0.75%;
	margin-bottom: 0.8em;
	
}
.main2 img {
	width: 40%;
	height: 35%;
	margin-bottom: 0.5em;
}
.main2 h2 {
font-size: 1.85em;
font-weight: 400;
margin: 0;
color: #2f5e80;
}
.main2 p {
	font-size: 1.1em;
	margin-top: 0.5em;
	margin-bottom: 2em;
}
.main2 button { 
	color: white;
	background-color: #4d841b;
	width: 72.5%;
	height: 2.1em;
	padding-bottom: 0.2em;
	font-size: 0.95em;
	border: 0.1em solid #5F8585;
	border-radius: 0.25em;
	font-weight: 400;
}
.main2 button:hover {
	background-color: #396B0B;
	text-decoration: underline;
	cursor: pointer;
}
.sec1 {
	display: flex;
	justify-content: flex-start;
	width: 77%;
	height: 19em;
	border-bottom: 0.1em solid rgba(77,108,130, 0.3);
	margin-left: 11.5%;
}
.sec1 img {
	width: 25em;
	height: 13em;
	margin-top: 3em;
}
.sec1 div {
	margin-top: 3em;
	width: 45%;
	margin-left: 2.5em;
}
.sec1 h2 {
	font-size: 2em;
	font-weight: 400;
	color: #2f5e80;
	margin-bottom: 0;
}
.sec1 p {
	font-size: 1.1em;
	margin-top: 0;
	margin-bottom: 2em;
}
.sec1 a {
	color: #425c5c;
	text-decoration: none;
	font-size: 1.07em;
	font-weight: 600;
}
.sec1 a:hover {
	text-decoration: underline;
	color: black;
}
.sec2 {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	width: 77%;
	height: 20em;
	border-bottom: 0.1em solid rgba(77,108,130, 0.3);
	margin-left: 11.5%;
}
.sec2 img {
	width: 25em;
	height: 14em;
	margin-top: 3em;
}
.sec2 div {
	margin-top: 3em;
	width: 47%;
}
.sec2 h2 {
	font-size: 2em;
	font-weight: 400;
	color: #2f5e80;
	margin-bottom: 0;
}
.sec2 p {
	font-size: 1.1em;
	margin-top: 0;
	margin-bottom: 2em;
}
.sec2 a {
	color: #425c5c;
	text-decoration: none;
	font-size: 1.07em;
	font-weight: 600;
}
.sec2 a:hover {
	text-decoration: underline;
	color: black;
}
.sec3 {
	display: flex;
	justify-content: flex-start;
	width: 77%;
	height: 19.75em;
	border-bottom: 0.1em solid rgba(77,108,130, 0.3);
	margin-left: 11.5%;
}
.sec3 img {
	width: 25em;
	height: 13.9em;
	margin-top: 2.9em;
}
.sec3 div {
	margin-top: 4em;
	width: 45%;
	margin-left: 2.5em;
}
.sec3 h2 {
	font-size: 2em;
	font-weight: 400;
	color: #2f5e80;
	margin-bottom: 0;
}
.sec3 p {
	font-size: 1.1em;
	margin-top: 0;
	margin-bottom: 2em;
}
.sec3 a {
	color: #425c5c;
	text-decoration: none;
	font-size: 1.07em;
	font-weight: 600;
}
.sec3 a:hover {
	text-decoration: underline;
	color: black;
}
.sec4 {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	width: 77%;
	height: 20em;
	border-bottom: 0.1em solid rgba(77,108,130, 0.3);
	margin-left: 11.5%;
}
.sec4 img {
	width: 25em;
	height: 14em;
	margin-top: 2.8em;
}
.sec4 div {
	margin-top: 2.5em;
	width: 47%;
}
.sec4 h2 {
	font-size: 2em;
	font-weight: 400;
	color: #2f5e80;
	margin-bottom: 0;
}
.sec4 p {
	font-size: 1.1em;
	margin-top: 0;
	margin-bottom: 2em;
}
.sec4 a {
	color: #425c5c;
	text-decoration: none;
	font-size: 1.07em;
	font-weight: 600;
}
.sec4 a:hover {
	text-decoration: underline;
	color: black;
}
.sec5 {
	display: flex;
	justify-content: flex-start;
	width: 77%;
	height: 19.75em;
	margin-left: 11.5%;
}
.sec5 img {
	width: 25em;
	height: 14em;
	margin-top: 3em;
}
.sec5 div {
	margin-top: 3.5em;
	width: 45%;
	margin-left: 2.5em;
}
.sec5 h2 {
	font-size: 2em;
	font-weight: 400;
	color: #2f5e80;
	margin-bottom: 0;
}
.sec5 p {
	font-size: 1.1em;
	margin-top: 0;
	margin-bottom: 2em;
}
.sec5 a {
	color: #425c5c;
	text-decoration: none;
	font-size: 1.07em;
	font-weight: 600;
}
.sec5 a:hover {
	text-decoration: underline;
	color: black;
}
.foot1 {
	width: 100%;
	height: 16.5em;
	background-color: #F5F5F5;
	margin-top: 2.8em;
}
#foot-list1 {
	display: flex;
	justify-content: flex-start;
	width: 94.25%;
	border-bottom: 0.1em solid rgba(77,108,130, 0.3);
	margin-right: auto;
	margin-left: auto;
}
.foot1 ul {
	list-style: none;
	width: 16%;
	margin-top: 0;
	margin-right: 0.5em;
	padding-bottom: 1.5em;
	padding-left: 1em;
	padding-right: 0.5em;
}
.foot1 a {
	font-size: 0.85em;
	text-decoration: none;
	color: #314545;
	font-weight: 600;
}
.foot1 a:hover {
	text-decoration: underline;
}
#list-text {
	line-height: 1.3em;
	font-size: 0.87em;
}
.foot1 h4 {
	font-size: 0.95em !important;
	color: #425c5c;
	margin-bottom: 0.6em;
	padding-top: 1.1em;
}
#connect {
	margin-left: 1.2em;
}
#connect h4 {
	margin-bottom: 0.9em;
}
#media {
	color: #425c5c;
	margin-right: 0.4em;
	position: relative;
	right: 0.3em;
}
#media:hover {
	color: rgb(30, 48, 80);
}
.foot2 {
	width: 100%;
	height: 11.2em;
	background-color: #F5F5F5;
	padding-top: 1.7em;
}
.foot2 ul {
	display: flex;
	justify-content: flex-start;
	font-size: 0.84em;
	list-style: none;
	margin-top: 0;
	margin-left: 2em;
} 
.foot2 li {
	margin-top: 0;
}
.foot2 li + li::before {
	content: "|";
	margin: 0.31em;
}
.foot2 a {
	text-decoration: none;
	color: #314545;
	font-weight: 600;
}
.foot2 a:hover {
	text-decoration: underline;
}
#finalmessage {
	margin-top: 2.8em;
	margin-bottom: 2.25em;
}
.foot2 p {
	width: 62%;
	font-size: 0.75em;
	text-align: center;
	margin-left: 19%;
	
}